<h1>These are all the posts you created!</h1>

<button id="new-post">New Post</button>
{{#each posts}}
{{> post-partial}}
{{!-- <button id="{{id}}" class="edit-button">Edit</button> --}}
{{!-- <button id="{{id}}" class="delete-button">Delete</button> --}}
{{/each}}

<script src="./js/deletePost.js"></script>
