<h2>Edit your post here!</h1>
<form id="edit-post-form" data-id="{{id}}">
    <div>
        <p><b>Title</b></p>
        <label for="title"></label>
        <input id="title" type="text">
    </div>
    <div>
        <p><b>Description</b></p>
        <label for="description"></label>
        <input id="description" type="text">
    </div>
    <button id="{{id}}" type="submit">Edit Post</button>
</form>

<script src="/js/editPost.js"></script>