<h1>Edit post</h1>
<form id="edit-post-form" data-id="{{id}}">
    <div>
        <label for="title">Title</label>
        <input id="title" type="text">
    </div>
    <div>
        <label for="description">Description</label>
        <input id="description" type="text">
    </div>
    <button id="{{id}}" type="submit">Edit Post</button>
</form>

<script src="/js/editPost.js"></script>