<h2>Welcome to the dynamic world of technology,</h2>
<h2>where innovation and progress unfold at a breathtaking pace.</h2>

{{#each posts}}
{{> post-partial}}
{{/each}}

<script src="/js/newPost.js"></script>
<script src="/js/comments.js"></script>