<form id="signup">
    <div>
        <label>
            Username: <br />
            <input id="username-signup" type="text" required />
        </label>
    </div>
    <div>
        <label>
            Email: <br />
            <input id="email-signup" type="email" required />
        </label>
    </div>
    <div>
        <label>
            Password: <br />
            <input id="password-signup" type="password" required />
        </label>
    </div>
    <div>
        <input type="submit" value="Sign up" />
    </div>
</form>

<form id="login">
    <div>
        <label>
            Email: <br />
            <input id="email-login" type="email" required />
        </label>
    </div>
    <div>
        <label>
            Password: <br />
            <input id="password-login" type="password" required />
        </label>
    </div>
    <div>
        <input type="submit" value="Log in" />
    </div>
</form>

<script src="/js/login.js"></script>