<h2>We value your thoughts, create a post here!</h2>
<form id="new-post-form">
    <div>
        <p><b>Title</b></p>
        <label for="title"></label>
        <input id="title" type="text">
    </div>
    <div>
        <p><b>Description</b></p>
        <label for="description"></label>
        <input id="description" type="text">
    </div>
    <button type="submit">Submit</button>
</form>

<script src="/js/newPost.js"></script>